---
---

@import "{{ site.theme }}";

.page-header {
  color: #009999;
  background-image: url(/assets/images/neuron.jpg);
  backround-position: left;
}

.main-content {
  h1, h2, h3, h4 {
    color: #009999;
  }
}

.center-image {
    margin: 0 auto;
    display: block;
}
