---
---

@import "{{ site.theme }}";

.page-header {
  color: #009999;
  background-image: url(/assets/images/neuron.jpg);
  background-position: left;
}

.main-content {
  h1, h2, h3, h4 {
    color: #009999;
  }
  
  /* left-align first paragraph */
  p:first-child {
    width: 50%;
    float: left;
  }
}



.size {
  font-size: 24pt;
}

.bold {
  font-weight: bold;
}

.callout {
}
