---
---

@import "{{ site.theme }}";

.page-header {
  color: #009999;
  background-image: url(/assets/images/neuron.jpg);
  background-position: left;
}

.main-content {
  h1, h2, h3, h4 {
    color: #009999;
  }
}


img[alt="https://github.com/linasmeds/linasmeds.github.io/blob/master/assets/images/DSCF8694bw.jpg"] { 
  max-width:  20px; 
  display: block;
}

/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 24pt;
}
